<footer class="footer">
    <img class="png-cupcake" src="../../../assets/cupcakeenano.png" alt="Logo de la empresa">

    <div class="footer-links">
        <a href="#">Aviso legal</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
    </div>

    <div class="footer2">
        <a href="#">Contacto <i class='bx bxs-phone-call'></i></a>
        <a href="#">info@tuspasteles <i class='bx bx-envelope'></i></a>

        <div class="redes">

            <a href="#"><i class='bx bxl-instagram'></i><i class='bx bxl-facebook-circle'></i> </a>
        </div>

    </div>

</footer>

<!---->