footer{
 position: absolute;
    width: 100vw;
    background: #a5c5cc;
   padding-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
  
}


.png-cupcake{
    width: 20px;
 
}

.footer-links a{

color: rgb(26, 97, 155);
margin-left: 10px;

}


.footer2 a{
    color: rgb(26, 97, 155);
    margin-left: 15px;
}

.redes{
    padding-top: 5px;
    padding-left: 90px;
}